{% extends "base.html" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        {% if book.cover %}
        <img src="{{ url_for('static', filename='images/' + book.cover) }}"
             class="img-fluid rounded" alt="Обложка">
        {% endif %}
    </div>
    <div class="col-md-8">
        <h2>{{ book.title }}</h2>
        <dl class="row">
            <dt class="col-sm-3">Автор</dt>
            <dd class="col-sm-9">{{ book.author }}</dd>

            <dt class="col-sm-3">Жанр</dt>
            <dd class="col-sm-9">{{ book.genre }}</dd>

            <dt class="col-sm-3">Год</dt>
            <dd class="col-sm-9">{{ book.year | default("Год не указан") }}</dd>

            <dt class="col-sm-3">Описание</dt>
            <dd class="col-sm-9">
                {% if book.description %}
                    {{ book.description }}
                {% else %}
                    Описание отсутствует
                {% endif %}
            </dd>
        </dl>
        <a href="{{ url_for('books.books_list') }}" class="btn btn-secondary mt-3">← Назад к каталогу</a>
    </div>
</div>
{% endblock %}