{% extends "base.html" %}

{% block title %}Поиск{% endblock %}

{% block content %}
    {% if not q %}
        <form method="get" action="{{ url_for('search') }}">
            <input type="text" name="q" placeholder="Название или автор" required>
            <button type="submit">Искать</button>
        </form>
    {% else %}
        <h3>Результаты поиска по запросу: "{{ q }}"</h3>

        {% if results %}
        <ul>
            {% for book in results %}
            <li>
                <a href="{{ url_for('book_detail', book_id=book.id) }}">
                    {{ book.title }}
                </a>
                {% if book.year and book.year > 2000 %}
                <span style="color: green; font-size: 0.9em;">[новинка]</span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Ничего не найдено</p>
        {% endif %}
    {% endif %}
{% endblock %}